/*
 * MIT License
 *
 * Copyright (c) 2018 Phil Badura
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

#include "resource.h"

#include <Windows.h>

#define APP_TITLE "DLL Injector"
#define FILE_NAME "dll-injector.exe"
#define DESCRIPTION "GUI program for DLL injection"
#define COPYRIGHT "© Phil Badura 2018"

IDI_APP ICON "dll-injector.ico"

STRINGTABLE
BEGIN
	IDS_WND_CLASS_EX "wndClassEx"
	IDS_APP_TITLE APP_TITLE
	IDS_FONT_FACE_NAME "Segoe UI"

	IDS_COLUMN_PID "PID"
	IDS_COLUMN_PLATFORM "Platform"
	IDS_COLUMN_NAME "Name"
END

VS_VERSION_INFO     VERSIONINFO
FILEVERSION         1, 0
PRODUCTVERSION      1, 0
FILEFLAGSMASK       0x3fL
FILEFLAGS           0
FILEOS              VOS_NT_WINDOWS32
FILETYPE            VFT_APP
FILESUBTYPE         VFT2_UNKNOWN
BEGIN
	BLOCK   "VarFileInfo"
	BEGIN
		VALUE   "Translation", 0x409, 1200
	END
	BLOCK   "StringFileInfo"
	BEGIN
		BLOCK   "040904b0"
		BEGIN
			VALUE "FileDescription", DESCRIPTION
			VALUE "FileVersion", "1.0"
			VALUE "InternalName", APP_TITLE
			VALUE "LegalCopyright", COPYRIGHT
			VALUE "OriginalFilename", FILE_NAME
			VALUE "ProductName", APP_TITLE
			VALUE "ProductVersion", "1.0"
		END
	END
END
